<div class = 'internal_information'  style = 'display:none'>
  <%= link_to 'QA一覧', qas_path %>
  <%= link_to 'OK一覧', show_ok_results_path %>
  <%= link_to 'NG一覧', show_ng_results_path %>
  <input type="button" id="before" value="前の問題へ">
  <input type="button" id="next" value="次の問題へ">
</div>

<div class = 'internal_information' style = 'display:none'>
  current_user_id
    <input id = 'current_user_id' value = <%=current_user.id%>></input><br>
  qa_id
    <input id = 'qa_id' value = <%=@qas.first.id%>></input><br>
  episode_id
    <input id = 'episode_id' value = <%=@qas.first.episode_id%>></input><br>
  qas
    <div id = 'qas'> <%=@qas.to_json%></div><br>
  qa_length
    <input id = 'qa_length' value = <%=@qas.length%>></input><br>
  現在何問目
    <input id = 'qa_num' value = 1>/<%=@qas.length%></input>
</div>

<div id ='question' class="well">
  <p>
    <%= @qas.first.question %>
  </p>
</div>

<div class = "well">
  <p id ='answer'  style = 'visibility:hidden'>
    <%= @qas.first.answer %>
  </p>
</div>

<div id = 'favorite'>
  <button id = 'like' class="btn  col-xs-2"><i class="far fa-star"></i></button>
  <button id = 'unlike' class="btn  col-xs-2 "><i class="far fa-play"></i></button>
</div>


<audio id = 'soundfile' preload="auto" src=<%= @qas.first.soundfile %> controls>
  <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
</audio>

<div id = 'show_answer'>
  <button class="btn btn-primary col-xs-12">解答を表示する</button>
</div>

<div id = 'answer_button' style = 'display:none'>
  <div id = 'ok'>
    <button class="btn btn-danger col-xs-6"><i class="far fa-circle fa-1x"></i></button>
  </div>
  <div id = 'ng'>
    <button class="btn btn-primary col-xs-6"><i class="fas fa-times fa-1x"></i></button>
  </div>
</div>


<script>


$('#like').on('click',function(){
  console.log('star')
  qa_id = $("#qa_id").val()
  stat_ajax(qa_id, 'favorite_like')
})

$('#unlike').on('click',function(){
  console.log('star')
  qa_id = $("#qa_id").val()
  stat_ajax(qa_id, 'favorite_unlike')
})


function stat_ajax(qa_id, favorite_state){
  $.ajax({
      url:'/favorites/' + favorite_state,
      type:"POST",
      dataType:"json",
      data:{'user_id': user_id,
            'qa_id': qa_id }
  })
  .done((data) => {
    console.log(data, favorite_state, 'like doneです');
  })
  .fail((data) => {
    console.log(data, favorite_state, 'unlike doneです');
    alert('通信に失敗しました。リロードしてください。');
  })
  .always((data) => {
    console.log(favorite_state, 'alwaysです');
  });
}


$('#show_answer').on('click',function(){
  $("#show_answer").hide();
  $("#answer_button").show();
  $("#answer").css("visibility", "visible");
})

$('#answer_button').on('click',function(){
  $("#answer_button").hide();
  $("#show_answer").show();
  $("#answer").css("visibility", "hidden");
});

var cnt = 0;
var qas = $("#qas").text()
qas = JSON.parse(qas);

var qa_length = $("#qa_length").val()
var user_id = $("#current_user_id").val()
var current_qa_num

$("#qa_id").val(qas[0]["id"])
$("#question").text(qas[0]["question"])
$("#answer").text(qas[0]["answer"])
$("#soundfile").attr('src',qas[0]["soundfile"])

$('#ok').on('click',function(){
  result_flow('ok')
  });
$('#ng').on('click',function(){
  result_flow('ng')
});

function result_flow(result){
  current_qa_num = $("#qa_num").val()|0
  qa_id = $("#qa_id").val()

  if (current_qa_num == qa_length) {
    console.log('最後の問題')
    result_ajax(result, qa_id)
    location.href="/results";
  } else {
    console.log('続きあり')
  result_qanum(current_qa_num)
  result_ajax(result, qa_id)
    }
}

function result_qanum(current_qa_num){
  cnt = cnt + 1
  $("#qa_id").val(qas[cnt]["id"])
  $("#qa_num").val(current_qa_num + 1)
  $("#question").text(qas[cnt]["question"])
  $("#answer").text(qas[cnt]["answer"])
  $("#soundfile").attr('src',qas[cnt]["soundfile"])
};

function result_ajax(result, qa_id){
  $.ajax({
      url:result,
      type:"POST",
      dataType:"json",
      data:{'user_id': user_id,
            'qa_id': qa_id }
  })
  .done((data) => {
    console.log(result, 'doneです');
  })
  .fail((data) => {
    console.log(result, 'failしました');
    alert('通信に失敗しました。リロードしてください。');
  })
  .always((data) => {
    console.log(result, 'alwaysです');
  });
}

$(function(){
  $('#next').click(function(){
      cnt = cnt + 1
      current_qa_num = $("#qa_num").val()|0

      $("#qa_id").val(qas[cnt]["id"])
      $("#qa_num").val(current_qa_num + 1)
      $("#question").text(qas[cnt]["question"])
      $("#answer").text(qas[cnt]["answer"])
      $("#soundfile").attr('src',qas[cnt]["soundfile"])
  });
});

$(function(){
  $('#before').click(function(){
      cnt = cnt - 1
      current_qa_num = $("#qa_num").val()|0
      $("#qa_id").val(qas[cnt]["id"])
      $("#qa_num").val(current_qa_num - 1)
      $("#question").text(qas[cnt]["question"])
      $("#answer").text(qas[cnt]["answer"])
      $("#soundfile").attr('src',qas[cnt]["soundfile"])
  });
});
</script>
