<%= link_to 'QA一覧', qas_path %>

<%= link_to 'OK一覧', show_ok_results_path %>
<%= link_to 'NG一覧', show_ng_results_path %>


<input type="button" id="before" value="前の問題へ">
<input type="button" id="next" value="次の問題へ">

<div id ='question'>
  <%= @qa_question %>
</div>

<div id ='answer'>
  <%= @qa_answer %>
</div>

<div id = 'internal_information'>
  current_user_id
    <input id = 'current_user_id' value = <%=current_user.id%>></input><br>
  qa_id
    <input id = 'qa_id' value = <%=@qa_first_id%>></input><br>
  episode_id
    <input id = 'episode_id' value = <%=@qas.first.episode_id%>></input><br>
  qas
    <div id = 'qas'> <%=@qas.to_json%></div><br>
  qa_length
    <input id = 'qa_length' value = <%=@qa_length%>></input><br>
  現在何問目
    <input id = 'qa_num' value = 1>/<%=@qa_length%></input>
</div>

<audio id = 'soundfile' preload="auto" src=<%= @qas.first.soundfile %> controls>
  <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
</audio>

<footer>
  <div id = 'ok'>
    <button class="btn btn-danger col-xs-6"><i class="far fa-circle fa-5x"></i></button>
  </div>
  <div id = 'ng'>
    <button class="btn btn-primary col-xs-6"><i class="fas fa-times fa-5x"></i></button>
  </div>
</footer>




<script>
var cnt = 0;
var qas = $("#qas").text()
qas = JSON.parse(qas);

var qa_length = $("#qa_length").val()
var user_id = $("#current_user_id").val()
var current_qa_num

$("#qa_id").val(qas[0]["id"])
$("#question").text(qas[0]["question"])
$("#answer").text(qas[0]["answer"])
$("#soundfile").attr('src',qas[0]["soundfile"])


$(function(){
  $('#ok').on('click',function(){
    result_flow('ok')
    });
});

$(function(){
  $('#ng').on('click',function(){
    result_flow('ng')
  });
});

function result_flow(result){
  current_qa_num = $("#qa_num").val()|0
  qa_id = $("#qa_id").val()

  if (current_qa_num == qa_length) {
    console.log('最後の問題')
    result_ajax(result, qa_id)
    location.href="/results";
  } else {
    console.log('続きあり')
  result_qanum(current_qa_num)
  result_ajax(result, qa_id)
    }
}

function result_qanum(current_qa_num){
  cnt = cnt + 1

  $("#qa_id").val(qas[cnt]["id"])

  $("#qa_num").val(current_qa_num + 1)
  $("#question").text(qas[cnt]["question"])
  $("#answer").text(qas[cnt]["answer"])
  $("#soundfile").attr('src',qas[cnt]["soundfile"])
};

function result_ajax(result, qa_id){
  $.ajax({
      url:result,
      type:"POST",
      dataType:"json",
      data:{'user_id': user_id,
            'qa_id': qa_id }
  })
  .done((data) => {
    console.log(result, 'doneです');
  })
  .fail((data) => {
    console.log(result, 'failしました');
  })
  .always((data) => {
    console.log(result, 'alwaysです');
  });
}

$(function(){
  $('#next').click(function(){
      cnt = cnt + 1
      current_qa_num = $("#qa_num").val()|0

      $("#qa_id").val(qas[cnt]["id"])
      $("#qa_num").val(current_qa_num + 1)
      $("#question").text(qas[cnt]["question"])
      $("#answer").text(qas[cnt]["answer"])
      $("#soundfile").attr('src',qas[cnt]["soundfile"])
  });
});

$(function(){
  $('#before').click(function(){
      cnt = cnt - 1
      current_qa_num = $("#qa_num").val()|0

      $("#qa_id").val(qas[cnt]["id"])
      $("#qa_num").val(current_qa_num - 1)
      $("#question").text(qas[cnt]["question"])
      $("#answer").text(qas[cnt]["answer"])
      $("#soundfile").attr('src',qas[cnt]["soundfile"])
  });
});

</script>
