

<% unless user_signed_in? %>
ログインしてね
<%else%>

<%= link_to '全部一気に編集する(edit_all)', edit_all_qas_path %>

<div class = "row justify-content-center" >
  <% @qas.each do |qa| %>
    <div class = 'col-2 bg-success rounded' >
      <div class = 'panel panel-default' >
         <div class="panel-body">

          <p><%= qa.question %></p>
          <p><%= qa.answer %></p>
          <p><%= qa.result %></p>

          <audio preload="auto" src=<%= qa.soundfile %> controls>
          <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
          </audio>



          <%#= link_to 'これを編集する(edit)', edit_qa_path(qa.*) %>
          <%#= link_to '詳細ページ(show)', qa_path(qa) %>
        </div>
      </div>
    </div>
  <% end  %>

  <%= link_to '自分のOK一覧を見に行く', results_path %>
  <%= link_to '自分のNG一覧を見に行く', results_path %>

  ↓これまたあとで
  <%= link_to '結果一覧ページ(result/index)', results_path %>
  <% end %>
</div>
